body {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 16pt;
/*    background: #121212;*/
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, auto);
 }

 .wj-flexchart {
    height: 240px;
    padding: 0px;
    margin: 0px;
}

 .wj-treemap .wj-data-label {
    fill: black;
}
